
<div class="header">
	<div class="container-fluid">
		<div class="pull-right">
			<ul class="nav nav-pills">
				{% if page.category != "home" %}
				<li role="presentation" ><a href="{{site.baseurl}}/">Home</a></li>
				{% endif %}
				<li role="presentation" {% if page.category == "workshops" %}class="active"{% endif %}><a href="{{ site.baseurl }}/workshops">Workshops</a></li>
				<li role="presentation" {% if page.category == "news" %}class="active"{% endif %}><a href="{{  site.baseurl  }}/news">News</a></li>
				<li role="presentation" {% if page.category == "instructors" %}class="active"{% endif %}><a href="{{ site.baseurl }}/instructors">Instructors</a></li>
				<li role="presentation" {% if page.category == "links" %}class="active"{% endif %}><a href="{{ site.baseurl }}/links">Links</a></li>
			</ul>
		</div>
	</div>
</div>
