---
layout: default
---

<div class="instructors">

	<h2>{{ page.title }}</h2>

	<div class="social">
		{% if page.email	%}
		<a href="mailto:{{ page.email }}">
			<i class="far fa-envelope"></i>
		</a>
		{% endif			%}

		{% if page.twitter	%}
		<a href="https://twitter.com/{{ page.twitter }}">
			<i class="fab fa-twitter"></i>
		</a>
		{% endif			%}

		{% if page.github	%}
		<a href="https://github.com/{{ page.github }}">
			<i class="fab fa-github"></i>
		</a>
		{% endif			%}

		{% if page.google_scholar	%}
		<a href="{{page.google_scholar}}">
			<i class="ai ai-google-scholar"></i>
		</a>
		{% endif			%}

		{% if page.orcid	%}
		<a href="http://orcid.org/{{page.orcid}}">
			<i class="ai ai-orcid"></i>
		</a>
		{% endif			%}

		{% if page.research_gate	%}
		<a href="https://www.researchgate.net/profile/{{page.research_gate}}">
			<i class="ai ai-researchgate"></i>
		</a>
		{% endif			%}

		{% if page.linkedin	%}
		<a href="https://linkedin.com/in/{{ page.linkedin }}">
			<i class="fab fa-linkedin"></i>
		</a>
		{% endif			%}

		{% if page.website	%}
		<a href="{{ page.website }}">
			<i class="fa fa-globe"></i>
		</a>
		{% endif			%}

		{% if page.phone	%}
		• {{ page.phone }}
		{% endif			%}

	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
    		{{ content }}
			</div>
			<div class="col-md-5">
				<img class="img-responsive" src="{{ page.picture }}" alt="{{ page.title }}" />
			</div>
		</div>
	</div>


</div>
